<div class="container">
  <button mat-flat-button (click)="openBasicDialog()">Basic</button>
  <button mat-flat-button (click)="openDialogWithOnlyImage()">Image</button>
  <button mat-flat-button (click)="openDialogWithImage()">Full</button>
</div>
<br/>
<mat-toolbar >
  <mat-toolbar-row>
    <span><button mat-button color="info" (click)="switchData()">Switch to {{typeStr}}</button></span>
    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>
    <span>
    <button mat-button color="info" (click)="openForm()">
    <mat-icon matPrefix inline style="font-size: 32px">add</mat-icon>
  </button>
  </span>
  </mat-toolbar-row>
</mat-toolbar>

<br/>
<div class="full-width">
  <app-dynamic-table [type]="type" [data]="data"></app-dynamic-table>
</div>
